body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f0f0;
  color: #292929;
}

h1,
h2,
h3 {
  font-family: 'Proza Libre', sans-serif;
  line-height: 1.4;
  margin: 1rem auto;
}

h1 {
  font-size: 2rem;
}

h3 {
  margin: 0.6rem auto;
  font-size: 1rem;
}

input,
textarea {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: solid 1px #b6b6b6;
  outline-color: #562b81;
}

textarea {
  min-height: 120px;
}

button {
  font-family: 'Proza Libre', sans-serif;
  font-size: 1rem;
  border: none;
  padding: 0.4rem 1rem;
}

a {
  text-decoration: none;
  padding: 0.4rem 0.8rem;
}

ul {
  list-style: none;
  padding: 0;
}

.white-text {
  color: white;
}

.purple-bg {
  background-color: #562b81;
}

.purple-color {
  color: #562b81;
}

.border-radius-4 {
  border-radius: 4px;
}

.site-header-style {
  font-weight: 400;
  font-size: 1.2rem;
}

.image-title-style {
  margin-top: 0;
  font-size: 1.5rem;
  padding-right: 1rem;
}

.justify-right {
  display: flex;
  justify-content: flex-end;
}

.align-center {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.entries-header-item {
  flex-basis: 50%;
}

.nav-item {
  display: inline-block;
}

.margin-3rem {
  margin-top: 3rem;
}

.entry-margin {
  margin-bottom: 1.5rem;
}

.no-margin {
  margin: 0;
}

.entries-header-mg {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.font-26 {
  font-size: 26px;
}
